*{
    margin: 0;
    padding: 0;
}
body{       
    background-image: url(../image/licensed-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    color: #ffffff;
    position: relative;
}

/* Add a light dim overlay on the background image */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

/*keisanbox*/
#keisanbox{
    text-align: center;
    position: relative; 
    z-index: 1;
}


.header h1 {
    font-size: 4em;            
    margin: 0;         
}
.header{    
    display: flex;
    margin-top: 2rem;
    margin-left: 25%;
}

img.te {
    width: 9em;       
    height: 10em; 
    object-fit: cover; 
    border-radius: 20%; 
    float: right;

}
.calculator{
    font-size: 2.5rem;
    color: rgb(248, 248, 248);
}
input{
    width: auto;
    height: 2rem;
}
/*button*/
.kekkabtn{

   font-size: 1rem;       
    padding: 0.5rem 0.5rem;  
    cursor: pointer;         

.kekkabtn:hover {
    background-color: #73b7d7; 
}


/*footer*/
footer {
    text-align: center;       
    padding: 1rem 0;          
    background-color: #73b7d7; 
    font-size: 1.2rem;        
    color: #333;              
    position: fixed;           
    bottom: 0;
    width: 100%;
}





